<h1>Listing deliverables</h1>
	
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th># Collaborators</th>
      <th>Owned by</th>
      <th>Tags</th>
    </tr>
  </thead>

  <tbody id='deliverables_tbody'>
    <% for deliverable in @deliverables -%>
      <%= render :partial => 'table_row', :object => deliverable %>
    <% end -%>
  </tbody>
</table>

<br />

<%= link_to_remote 'New deliverable', { :url => 'create', :method => :post}, { :href => new_deliverable_path } %>

<br />
<br />
<% unless @tags.empty? %>
	<% tag_cloud @tags, %w(css1 css2 css3 css4) do |tag, css_class| %>
		<%=link_to tag.name, { :action => :tag, :id => tag.name }, :class => css_class %>
	<% end %>
<% end %>
