
<h1>About Myself</h1>
<br/><br/>
<div id='whoami'>

</div>

<h3>About this site</h3>
<br/><br/>
<div id='whatisthis'>
</div>

<h3>Live Chat With Me! (maybe)</h3>
<embed src="http://w.digsby.com/dw.swf?c=awu6d88i5hygehdy" type="application/x-shockwave-flash" wmode="transparent" width="210" height="300"></embed>
