<div id='download_link'>Download: <%= link_to image_tag('pdficon_small.gif', {:alt => 'PDF format'})+' PDF', '/myself/download/pdf', {:class => 'pdf'}%><%=link_to image_tag('word_icon.gif', {:alt => 'DOCX format'})+' DOCX', '/myself/download/docx'%>
</div>
<div id='resume'>
  <div class=Section1>
      <p class=MsoTitle><b><span id='name'>Perry Wong</span></b></p>
      <br/>
      <p class='MsoNormal' style='float:left'>
          <span style='font-size:12.0pt'>URL:</span>
          <span><a href="http://portfolio.wyrrep.com">http://portfolio.wyrrep.com</a></span>
      </p>
      <p class='stackright MsoTitle' align=right>
          <span style='font-size:	12.0pt;'>Cell:</span>
          <span> 734/355-0767</span>
      </p>
      <p class='stackright MsoTitle' align=right>
          <span style='font-size:	12.0pt;'>E-mail:</span>
          <span> perryw at umich dot edu</span>
      </p>
  </div>
  <br/>
  <div id='Objective'>
      <p class=MsoNormal style='margin-left:.5in;text-indent:-.5in'><b><span>Objective</span></b><span>:</span><span> to improve organizers' ability to leverage modern technologies for political success.</span></p>
  </div>
  <br/>
  <div id='Experience'>
      <p class=MsoNormal><b><span>Relevant Experience</span></b></p>
      <p class=MsoNormal style='margin-left:.5in'>
          <b><span style='float:left'>Salsa Labs Inc.</span></b>
          <span style='text-align:right;float:right'>June 2009 &ndash; Present</span>
      </p>
      <p class=MsoNormal style='text-indent:.5in;clear:both'>
          <span style='float:left'>Developer</span>
      </p>
      <div style='margin-left:.5in;text-indent:.5in;clear:both'>
          <p class=MsoNormal>
              <b>Major Projects:</b>
          </p>
          <ul>
              <li><b>Supporter Management</b> &ndash; <span>Tasks: UI overhaul and performance improvements</span>
              </li>
              <li><b>Salsa Market</b> &ndash; <span>Tasks: interaction design and development</span>
              </li>
              <li><b>Migration from SVN to git/gitorious</b> &ndash; <span>Tasks: research, proposal, co-integration, documentation</span>
              </li>
              <li><b>API Design</b> &ndash; <span>Tasks: co-design and -document JavaScript libraries aimed at increasing external developer adoption of proprietary server-side framework</span>
              </li>
          </ul>
      </div>
      <br/>
      <p class=MsoNormal style='margin-left:.5in'>
          <b><span style='float:left'>Apple Inc.</span></b>
          <span style='text-align:right;float:right'>May 2008 &ndash; Aug. 2008</span>
      </p>
      <div style='margin-left:.5in;text-indent:.5in;clear:both'>
          <p class=MsoNormal>
              <b>Projects:</b>
          </p>
          <ul>
              <li><b>Usability of key bindings</b> &ndash; <span>Skills used: comparative evaluations, contextual inquiries, information visualization, literature review, and prototyping</span>
              </li>
              <li><b>User experience questionnaire</b> &ndash; <span>for applications in the Developer Tools suite</span>
              </li>
              <li><b>Prototype redesigns of Xcode's message bubbles</b> &ndash; <span>Skills used: contextual inquiry, lo-fi prototype sketches animated in Keynote, and hi-fi prototypes written in Cocoa</span>
              </li>
              <li><b>Statistical analysis and visualization</b> &ndash; 
                  <span>of developers&rsquo; programming behavior when developing C/C++	and Objective-C applications</span>
              </li>
          </ul>
      </div>
  </div>
  <br/>
  <div id='Education'>
      <p class=MsoNormal><b><span>Education</span></b></p>
      <p class=MsoNormal style='margin-left:.5in'>
          <span style='float:left'><b>University of Michigan School of
                  Information</b>, Ann Arbor, MI</span>
          <span style='text-align:right;float:right'>Aug. 2008</span>
      </p>

      <p class=MsoNormal style='text-indent:.5in;clear:both'>
          <span style='float:left'>Master of Science in Information</span>
          <span style='float:right'>GPA: 7.45/9.00</span>
      </p>
      <p class=MsoNormal style='margin-left:.5in;clear:both'><span>Specializations: </span><span style='display:inline-block;vertical-align:top'>Human-Computer Interaction (HCI)
      <br/>
      Information Economics, Management, and Policy (IEMP)</span>
      </p>
      <br/>
      <div style='margin-left:.5in;text-indent:.5in;clear:both'>
          <p class=MsoNormal><span><b>Relevant Projects:</b></span></p>
          <ul>
              <li><b>Contextual Design</b> &ndash; <span>assessed and provided recommendations for the Washtenaw
  Community College Foundation&rsquo;s scholarship-granting process. </span>
                  <p>Skills Used: rapid contextual design, contextual inquiries,
                  flow modeling, sequence modeling, SIPOC, organizational
                  culture, affinity wall creation</p>
              </li>
              <li><b>User Interface Design</b> &ndash; <span> and prototype of a touchscreen-oriented webapp that consolidates all the online resources available to the U-M community.</span>
                  <p>Skills Used: contextual inquiries, affinity wall creation, personas and scenarios, prototyping, usability testing</p>
              </li>
              <li><b>Usability Analysis Methods</b> &ndash; <span>analyzed the usability of MGoBlue.com, the university&rsquo;s
  official athletics website. </span>
                  <p>Skills Used: generalized transition network (GTN),
                  comparative analysis user survey analysis, heuristic
                  evaluation, formal usability testing</p>
              </li>
              <li><b>Contexually-aware Public Displays</b> &ndash; <span>leveraged Bluetooth proximity detection and facial-feature recognition to dynamically provide and filter user-specific content.</span>
                  <p>Skills Used: Ruby on Rails, literature review</p>
              </li>
          </ul>
      </div>
      <br/>
      <p class=MsoNormal style='margin-left:.5in'>
          <span style='float:left'><b>University of Michigan College of Engineering</b>, Ann Arbor, MI</span>
          <span style='text-align:right;float:right'>Dec. 2002</span>
      </p>

      <p class=MsoNormal style='text-indent:.5in;clear:both'>
          <span style='float:left'>Bachelor of Science in Engineering in Computer Engineering Cum Laude</span>
          <span style='float:right'>GPA: 3.58/4.00</span>
      </p>
  </div>
  <br style='clear:both'/>
  <div id='Skills'>
      <p class=MsoNormal><b>Skills</b></p>
      <div>
          <p>
              <b><span>Analysis Methods</span></b><span>: cognitive walkthrough, GOMS analysis, generalized
              transition network (GTN), heuristic evaluation, survey analysis, personas &amp;
              scenarios, formal usability testing</span>
          </p>
          <p>
              <b><span>Computer Languages</span></b><span>: C/C++/Objective-C, SQL, Perl, Ruby (on Rails), JavaScript, R</span>
          </p>
          <p>
              <b><span>User Interface Programming:</span></b><span> QT, GTK+, Cocoa Objective-C, jQuery, PrototypeJS</span>
          </p>
          <p>
              <b><span>User Interface Design Tools:</span></b><span> Balsamiq, OmniGraffle, Keynote, Illustrator, Interface
                  Builder, PowerPoint</span>
          </p>
      </div>
  </div>
</div>
