/* based on 
 * http://www.dynamicdrive.com/style/csslibrary/item/css-image-gallery/#thumb
 */
/*
h1 { font-weight: bold;}

.gallery
{
	position:relative;
}

.gallery img
{
	border: 1px solid white;
}

.gallery img:hover
{
	border: 1px solid blue;
}
*/
.thumbnail {
	width: 172px;
	height: 172px;
	text-align: center;
	float: left;
}
