/* based on 
 * http://www.dynamicdrive.com/style/csslibrary/item/css-image-gallery/#thumb
 */
/*
h1 { font-weight: bold;}

.gallery
{
	position:relative;
}

.gallery img
{
	border: 1px solid white;
}

.gallery img:hover
{
	border: 1px solid blue;
}
*/
.thumbnail {
	width: 172px;
	height: 172px;
	margin: 0 10px 10px 0;
	text-align:center;
	display: table-cell;
	vertical-align: middle;
	min-height: 168px;
}
.spacer {
	clear: both;
}
