.menu_div {margin: 0; padding-bottom: 50px; width: 100%;}
#menu_container {margin: 0; padding-bottom: 2.5em; width:100%; 
	padding-top: 0.5em; 
}
ul#blue { margin:0; padding:0; list-style-type:none; }

ul#blue li { 
	list-style-type:none; position:relative; float:left; 
	border-top:4px solid #efefef; margin-right: 15px; padding-right: 20px; 
	padding-top: 5px;
}

ul#blue .current { border-top:4px solid #D14A6C;}
ul#blue li:hover { border-top:4px solid #FF82A0;}

ul#blue li a { padding:2px 2px; text-decoration:none; 
	font:bold 12px Verdana, Georgia, "Times New Roman", Times, serif; 
	color:#68759c;
}
ul#blue li a.menu_admin { padding:2px 2px; text-decoration:none; 
	font:bold 12px Verdana, Georgia, "Times New Roman", Times, serif; 
	color:#953434;
}

ul#blue li a:hover.menu_admin { font-size: 110%; color:#b17878; border:none; }
ul#blue li a:hover {  font-size: 110%; color:#8895b8; border:none; }