#gallery_projects_tag_cloud_sidebar, #galery_deliverables_tag_cloud_sidebar {
  padding-bottom:8px;
}
.deliv_show img {
  float: left;
}
.noindent {
  margin-left: 0;
}
#course_projects_list .thumbnail a {
  display: inherit;
}
/* from
 * http://www.openplans.org/projects/topp-design/blog/2008/09/26/better-blockquotes/
 */
.selfclear:after {
  content: “.”;
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.selfclear {
  display: inline-block; /* IE 7 */
}
.selfclear {
  display: block;
}
* html .selfclear {
  * height: 1px; /* IE < 7 */
}
blockquote p,ol,ul {
  padding-left: 1.3em;
  padding-right: 1.3em;
}
blockquote {
  font-style: normal;
  color: #191f2f;
  font-size: 1.3em;
  /*line-height: 1.5em;*/
}
blockquote .open-quote,
blockquote .close-quote {
  font-family: georgia, serif;
  color: #6b707e;
  font-style: normal;
  font-size: 4em;
  line-height: 1em;
}
blockquote .open-quote {
  float: left;
  height: 0.35em;
  padding: 0 0.1em 0 0;
  vertical-align: -60%;
  position: relative;
  top: -0.1em;
}
blockquote .close-quote {
  vertical-align: -50%;
  padding: 0 0 0 0.1em;
  float: right;
  margin-top: -0.55em;
}

.loading-container{
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
}
.loading-container span{
  margin-left: auto;
  margin-right: auto;
}
#tag_cloud {
  height: 150px;
  padding: 8px 0 8px 0;
  margin: 0 auto 0 8px;
  overflow:hidden;
}
.attribute_crumb {
  vertical-align: middle;
  display: inline-block;
}
.bold a {
  font-size:larger;
  font-weight:bold;
}
#project_resources_list li {
  list-style: none;
}
#resources_list li {
	list-style: none;
}
#deliverables_list li {
  list-style: none;
}
.deliverables_tags a {
	background-color: #EEEEEE;
	text-decoration: none;
	color: #007CC3;
}
.deliverables_tags a.highlight {
	text-decoration: none;
	background-color: #E7880C;
	color: #FFFFFF;
}
.tag {
	/*background-color: #EEEEEE;*/
	text-decoration: none;
    color: #6666FF;
}
.highlight {
	background-color: #E7880C;
	color: #FFFFFF;
}
.key_resource img {
	vertical-align: middle;
	max-width: 168px;
	max-height: 168px;
}
.course_projects_heading {
	margin: 0 auto;
	width: 30em;
}
.course_projects_heading h3 {
	display: inline-block;
}
.deliv_show {
	display: inline-block;
	vertical-align: middle;
}
.deliv_show span {
	display: inline;
}
.blah {
	clear: both;
}
a.atom_feed {
	background: transparent url(/images/feed.png)
	no-repeat scroll 1px 50%;
	padding: 2px 0 3px 16px;
}
.css1 { font-size: 1.0em; }

.css1:hover { background-color: #6666FF; color: white; }

.css2 { font-size: 1.2em; }

.css2:hover { background-color: #6666FF; color: white; }

.css3 { font-size: 1.4em; }

.css3:hover { background-color: #6666FF; color: white; }

.css4 { font-size: 1.6em; }

.css4:hover { 
	background-color: #6666FF;
	color: white;
}
.css5 { font-size: 1.8em; }

.css5:hover { 
	background-color: #6666FF;
	color: white;
}
.collaborators_list li {
  list-style: none;
  display: inline;
}
.listing li {
	list-style: none;
}
table
{
	/*table-layout:		fixed;*/
	text-align:			center;
    border-width:		0px;
    border-spacing:		0px;
	/*word-wrap:			break-word;*/
	overflow:			scroll;
}
.center {
	text-align: center;
}
table thead th {
	color: #569AE3;
    border:				none;
	vertical-align: bottom;
	text-align: left;
}

table tbody td{
	text-align: left;
    border:				none;
	padding-left: 0.5em;
}
.highlightme { background-color: lightyellow; }

.highlight_row0{ background-color: lightgrey; }
.highlight_row0:hover{ background-color:lightyellow;}
.highlight_row1{  }
.highlight_row1:hover{ background-color:lightyellow; }

.empty_field{ font-style:italic;}

#p_page {
	padding: 8px 16px 8px 16px;
}

.key {	font-weight: bold; }
.value { font-style: italic; }
