#deliverables_list li {
  list-style: none;
}
.deliverables_tags a {
	background-color: #EEEEEE;
	text-decoration: none;
	color: #007CC3;
}
.deliverables_tags a.highlight {
	text-decoration: none;
	background-color: #E7880C;
	color: #FFFFFF;
}
.tag {
	background-color: #EEEEEE;
	text-decoration: none;
}
.highlight {
	background-color: #E7880C;
	color: #FFFFFF;
}
.key_resource img {
	vertical-align: middle;
	max-width: 168px;
	max-height: 168px;
}
.course_projects_heading {
	margin: 0 auto;
	width: 30em;
}
.course_projects_heading h3 {
	display: inline-block;
}
.deliv_show {
	display: inline-block;
	vertical-align: middle;
}
.deliv_show div, span {
	display: inline;
}
.blah {
	clear: both;
}
a.atom_feed {
	background: transparent url(/images/feed.png)
	no-repeat scroll 1px 50%;
	padding: 2px 0 3px 16px;
}
.css1 { font-size: 1.0em; }

.css1:hover { background-color: blue; color: white; }

.css2 { font-size: 1.2em; }

.css2:hover { background-color: blue; color: white; }

.css3 { font-size: 1.4em; }

.css3:hover { background-color: blue; color: white; }

.css4 { font-size: 1.6em; }

.css4:hover { 
	background-color: blue;
	color: white;
}
.collaborators_list li {
  list-style: none;
  display: inline;
}
.listing li {
	list-style: none;
}
table
{
	/*table-layout:		fixed;*/
	text-align:			center;
    border-width:		0px;
    border-spacing:		0px;
	word-wrap:			break-word;
	overflow:			scroll;
}
.center {
	text-align: center;
}
table thead th {
	color: #569AE3;
    border:				none;
	vertical-align: bottom;
	text-align: left;
}

table tbody td{
	text-align: left;
    border:				none;
	padding-left: 0.5em;
}
.highlightme { background-color: lightyellow; }

.highlight_row0{ background-color: lightgrey; }
.highlight_row0:hover{ background-color:lightyellow;}
.highlight_row1{  }
.highlight_row1:hover{ background-color:lightyellow; }

.empty_field{ font-style:italic;}

#p_page {
	padding: 8px 0 16px 16px;
}

.key {	font-weight: bold; }
.value { font-style: italic; }
