<h1>Listing collaborators</h1>
<div style="overflow:auto; width:615px;">
<table>
  <thead>
  <tr>
  	<th>Photo</th>
    <th>Lastname</th>
    <th>Firstname</th>
    <th>Uniqname</th>
	<th>E-Mail Address</th>
	<th>Website URL</th>
	<th># Collaborations</th>
  </tr>
  </thead>

  <tbody id='collaborators_tbody'>
    <% for collaborator in @collaborators -%>
      <%= render :partial => 'collaborators/table_row', :object => collaborator %>
    <% end -%>
  </tbody>
</table>
</div>
<br />

<%= link_to_remote 'New collaborator', { :url => { :action => 'create' }, :method => :post}, { :href => new_collaborator_path } %>
