<!--%# = debug(session) %-->
<% content_for :breadcrumb_debug do -%>
	<%= link_to_remote 'get breadcrumb json', {
		:url => { :controller => 'breadcrumbs', :action => 'get_breadcrumb' },
		:method => :get,
		:evalScripts => false,
		:update => 'json_div'}
	%>
		<button type='button' onclick='$("json_div").innerHTML=""'>Remove text</button>
	<br/>
<% end -%>
<% if Rails.env.development?  %>
	<%= yield :breadcrumb_debug %>
<% end %>
<%= link_to_remote 'Eat Breadcrumbs', {
		:url => {:controller => 'breadcrumbs', :action => 'eat_breadcrumbs' },
		:method => :get,
		:evalScripts => false,
		:update => 'rails_messages',
		:success => 'new Effect.Parallel([new Effect.Highlight("rails_messages", {sync:true}),
					 new Effect.Fade("rails_messages", {sync:true})], {duration: 5}); document.fire("jsviz:clicked")'
	} %>
	
<div id='json_div'> </div><br/>

<div id='jsviz_div'></div>
<div id='tooltip' style='position:absolute'></div>
