<h1>Listing projects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
	    <th>Tags</th>
      <th># Collaborators</th>
      <th>Owned By Course</th>
      <th># Deliverables</th>
      <th>Has Project Website</th>
    </tr>
  </thead>

  <tbody id='projects_tbody'>
    <% for project in @projects -%>
      <%= render :partial => 'table_row', :object => project %>
    <% end -%>
  </tbody>
</table>

<br />

<%= link_to_remote 'New project', { :url => 'create', :method => :post}, { :href => new_project_path } %>
