<div id='entire_gallery'>
	<h1>Deliverables</h1>

	<div id='gallery_deliverables' class='gallery' onload='copyGalleryTagClouds(); loadSpotLights()'>
		<% @deliverables.each do |display| -%>
			<%= render :partial => 'index', :object => display, :locals => {:divname => 'gallery_deliverables', :overlay_url => (Resource.find(display.overlay_id).public_filename(:thumb) rescue '/images/no_tag.png') } %>
		<% end -%>
    <div id='gallery_deliverables_tag_cloud' style='clear:both; display: none'>
        <%#  %>
    	<% tag_cloud @deliverable_tags, %w(css1 css2 css3 css4) do |tag, css_class| %>
    		<%=link_to_function tag.name, "toggleGalleryImgsByTag('#{tag.name.tr(' -', '_')}', 'gallery_deliverables')", :class => "tag #{css_class} #{tag.name.tr(' -','_')}" %>
    	<% end unless @deliverable_tags.empty? %>
    </div>
	</div>
</div>
