<div id='entire_gallery'>
<h1>Gallery</h1>
	<div class='gallery'>
		<h2>Projects</h2>
			<% @projects.each do |display| -%>
				<%= render :partial => 'index', :object => display %>
			<% end %>
	
	</div>
	<div class='gallery'>
		<h2>Deliverables</h2>
		
			<% @deliverables.each do |display| -%>
				<%= render :partial => 'index', :object => display %>
			<% end -%>
		
	</div>
</div>
