<div id='entire_gallery'>
<h1>Gallery</h1>

	<div class='gallery3'>
		<% @gallery.each do |img| -%>
			<div class='thumbnail'>
				<% if img.image? || img.pdf? -%>
					<%= link_to image_tag(img.public_filename(:thumb)), 
							image_path(img.public_filename(:lightview)), 
							{:class =>'lightview', :rel => 'set[myset]', :id => img.id}
					%>
				<% else # not an image...probably slideshare-%>
					<%= link_to image_tag('/images/slideshare_200x50.png'), img.url, {:class => 'lightview', :rel => 'set[myset]', :id => img.id } %>
				<% end -%>
			</div>
		<% end %>
	</div>
</div>
