<div id='entire_gallery'>
<h1>Gallery</h1>
<h2><%= link_to_function 'Projects', "Effect.toggle('gallery_projects', 'appear')" %></h2>
<div id='gallery_projects' class='gallery'>
	<% @projects.each do |display| -%>
		<%= render :partial => 'index', :object => display %>
	<% end %>
</div>
<br/>
<h2><%= link_to_function 'Deliverables', "Effect.toggle('gallery_deliverables', 'appear')"%></h2>
	<div id='gallery_deliverables' class='gallery'>
		<% @deliverables.each do |display| -%>
			<%= render :partial => 'index', :object => display %>
		<% end -%>
	</div>
</div>
