<div id='entire_gallery'>
<h1>Gallery</h1>

	<div class='gallery3'>
		<% num=0 -%>
		<% @gallery.each do |img| -%>
			<% num = (num+1)%5 %>
			<% if num == 0 && true -%>
				<div class="spacer">
				  	&nbsp;
				</div>
				<% num=1%>
			<% end -%>
			<div class='thumbnail'>
				<% if img.image? || img.pdf? -%>
					<%= link_to image_tag(img.public_filename(:thumb)), 
							image_path(img.public_filename(:lightview)), 
							{:class =>'lightview', :rel => 'set[myset]', :id => img.id}
					%>
				<% else # not an image...probably slideshare-%>
					<%= link_to image_tag(Resource.find(54).public_filename(:thumb)), img.url, {:class => 'lightview', :rel => 'set[myset]', :id => img.id } %>
				<% end -%>
			</div>
		<% end %>
	</div>
</div>
