<h1>Listing courses</h1>

<table>
	<thead>
	<tr>
	<th>Tags</th>
	<th>Dept</th>
	<th>Courseno</th>
	<th>Coursename</th>
	<th>Description</th>
	<th># Projects</th>
	<th># Resources</th>
	</tr>
	</thead>

	<tbody id='courses_tbody'>
	<% for course in @courses %>
		<%= render :partial => 'courses/table_row', :object => course %>
	<% end %>
	</tbody>
	<tfoot>
	</tfoot>
</table>
<%=link_to_remote 'New Course', {:url => { :action => 'create' }, 
		:method => :post, 
		:success =>"new Effect.Highlight($$('tr').last())"}, {:href => new_course_path} %>
<br />
