<% content_for :side do -%>	
	<% unless logged_in? -%><% if_in_beta? do -%>
		<%= error_messages_for :invitation %>
		<p>We are currently in private beta. Please enter your email address below and we will let know when an invitation becomes available.</p>
		<% uberform_for [:user, Invitation.new] do |f| -%>
		    <%= f.text_field :email, :label => "Your Email:" %>
		    <%= f.submit 'Submit' %>
		<% end -%>
	<% end -%><% end -%>
<% end -%>

<h1>Welcome to my online portfolio.</h1>
<br/><br/>
<div>
  <p style='margin-left: 16px; text-indent:-16px'>
    <b>Note:</b> if you encounter Phusion Passenger errors that look like: 
    <%= image_tag 'phusion_crash.png', :width => '25%', :height => '25%' %>
    or encounter an empty page, please refresh or click the link again.
  </p>
  <br/>
  <p style='margin-left: 16px; text-indent:-16px'>
  <b>Note #2:</b> this site is optimized for Firefox 3 and Safari 3&4, and works for the most part in Chrome (<a href='http://code.google.com/p/chromium/issues/detail?id=5281'>see here</a>) and the iPhone.  IE users will not be able to see any interactions involving SVG and CANVAS elements (sorry).
  </p>
</div>
